body {
  background: #7EA426;
  background: -moz-radial-gradient(center, #7EA426 0%, #BD7CCB 50%, #C7E75D 100%);
  background: -webkit-radial-gradient(center, #7EA426 0%, #BD7CCB 50%, #C7E75D 100%);
  background: radial-gradient(ellipse at center, #7EA426 0%, #BD7CCB 50%, #C7E75D 100%);
}

h1 {
  font-family: Comic Sans, serif;
  color: rgba(235, 136, 186, 10);
  text-shadow: 23px 26px 2px rgba(0,0,0,0.6);
  text size: 33px;
}

h2 {
  font-family: Helvetica, serif;
  color: #FFFFFF;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  text size: 20px;
}

p {
  font-family: times, serif;
  color: black;
  text size: 15px;
}
